
:root{
  --main-background-color: #f7f6fa;
  --margin-left-section: 30px;
}

body{
  font-family: 'Roboto', sans-serif;
  background-color: var(--main-background-color); 
}
#header a{
  text-decoration: none;
  color: #fff;
  transition: ease-in;
  transition-duration: .2s;
}

#header a:hover{
  color:#F28081;
}
#container{
  margin-top: 0;
  padding-top: 0; 
  
}
#header{
  position: fixed;
  height: 100%;
  width: 450px;
  background-image: linear-gradient(to right top, #909095 40%, #F17A7B);
  /* background-image: linear-gradient(to right top, #3b3b40 40%, #FF3A3B); */
  background-color:#3b3b30;
  padding-top: 16%;
  color: #fff;
  z-index: -1;
}

#header-nome{
  margin-top: 8%;
  height: 115px;
  width: 550px;
  position: absolute;
  position: fixed;
  background-color: var(--main-background-color);
}
#header-nome h1{
  font-size: 36px;
  text-transform: uppercase;
  margin-bottom: 0;
}

#header-nome h2 , h3{
  margin-top: 0;
  font-size: 18px;
  margin-bottom: 0;
}

#header-nome h3{
  font-size: 16px;
  
}



#header-nome h2::first-letter{
  text-transform: capitalize;
}
#header-nome small{
  margin-top: 0;
  font-size: 10px; 
}
#address{
  font-size: 13px;
  
}

#address div{
  margin-bottom: 20px;
}
#address div i{
  margin-left: 15px;
}
#address div p{
  display: inline;
}

#header-menu ul, #header-socialnetwork ul{
  list-style: none;
  font-size: 26px;
}

#header-menu ul li {
  margin: 40px
}

#header-socialnetwork{
  position: absolute;
  top: 30px;
  margin: 0;
  padding: 0;
  left: calc(450px / 4);
 
}


#header-socialnetwork ul{
  font-size: 30px;
  display: flex;
}

@keyframes rotating{
  from{
    transform: rotate(0deg)
  }
  to {
    transform: rotate(360deg);
  }
}

#header-socialnetwork ul li a i:hover{
  animation-name: rotating;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
.icon-distance {
  margin-left: 50px;
}


#main {
  clear: both;
  float: left;
  height: 30px;
  margin-left: 550px ;
  margin-top: 50px;
}

#main h3{
  font-size: 36px;
  text-decoration: underline;
} 
#p-qualificacoes div{
  display: flex;
}

#p-qualificacoes div div{
  width: 200px;
  
}

#p-qualificacoes p{
  width: 1000px;
  line-height: 2;
}
#idiomas p{
  margin-left: var(--margin-left-section);
}
#formacoes h4{
  margin-bottom: 0;
  padding-bottom: 0;

}
#formacoes div{
  margin-top: 0;
  padding-top: 0;
  margin-left: var(--margin-left-section);
}
#formacoes div p{
  margin-top: 0;
  padding-top: 0;
}
#e-profissionais div{
  margin-left: var(--margin-left-section);
}
#c-comple-container {
  clear: both;
  margin: 0;
  padding: 0;
}

#c-comple-container div{
  margin-top: 10px;
}

#c-complementares div{
  margin-left: var(--margin-left-section);
  padding-left: 0;
  
}
#projetos div{
  margin-left: var(--margin-left-section);
}
#projetos div:last-child{
  margin-bottom: 100px;
}
